{% extends "base.html" %}
{% block extra_head %}

<style>
    h4 {
        color: #000083;
        font-weight: bolder;
    }
</style>

{% endblock %}

{% block content %}
<div class="container">
    <h2 style="color:#000083">FREQUENTLY ASKED QUESTIONS</h2>
    <h4>General Questions</h4>
    <p>
        <b>1. What is ROY Plaza Store Online? </b><br>
        ROY Plaza Store Online is ROY Plaza’s online grocery store providing customers with services and products that
        make their shopping experience easier. <br><br>
        <b>2. How do you use ROY Plaza Store Online? </b><br>
        Just like other online grocery websites, visit royplazastore.com in your web browser, and click sign up. After
        signing up, you can add items to your virtual cart. Then, checkout and confirm your order details. <br><br>
        <b>3. What do I contact if I have further questions? </b><br>
        Please reach out to our online customer support by leaving a message at the Contact Us page or call us at
        828-3385 or 09352376703<br><br>
        <b>4. What type of items do you offer? </b><br>
        We currently offer basic grocery items. We also plan to add more in the future. <br><br>
    </p>
    <h4>Ordering Questions </h4>
    <p>
        <b>1. Is there a minimum amount of order to avail of your services?</b><br>
        Yes. The minimum amount of orders is P500 PhP.<br><br>

        <b>2. Do you offer bulk order? </b><br>
        As of the moment, bulk orders are not yet available in our online store. For wholesale orders, you may directly
        contact us through +63 926 437 9068.<br><br>

        <b>3. Will the orders be canceled if the customer doesn’t pick them up on the date specified? </b><br>
        If you or a representative are not able to receive your order, we will have to cancel your order with additional
        charges.<br><br>

        <b>4. Can someone else pay and pick-up an order for me?</b> <br>
        Yes. Please let him/her present a valid ID and a screenshot of your confirmation of the order for verification
        before receiving the items. <br><br>

        <b>5. What if the item I ordered is no longer in stock? </b><br>
        In cases that your order has out-of-stock items, you will be contacted through SMS for possible replacements. If
        you are not able to respond within 30 minutes and your delivery/pick-up time is near, your order will be
        processed without the missing items.<br><br>

        <b>6. Can I view my previous order? </b><br>
        You may view your previous orders by logging in to your ROY Plaza Store Online account and by checking your
        order history.<br><br>


        <b>7. Can I quickly reorder the same items as my previous order?</b><br>
        Yes, you can, as long as the items are in stock and the status is not on hold. <br><br>

        <b>8. How do I change or cancel my order? </b><br>
        Proceed to the order history if you wish to remove or change an item. <br><br>

        <b>9. Is there a minimum purchase required?</b><br>
        The minimum purchase required is worth P500.<br><br>

        <b>10. Why is there a service charge?</b><br>
        At ROY Plaza, we want to create opportunities for other people to work. The service charge is used to pay for
        the people who work behind the scenes.<br><br>
    </p>
    <h4>Delivery Questions</h4>
    <p>
        <b>1. How much is the delivery fee?</b> <br>
        The delivery fee is P50 within Brgy. Poblacion, Valencia City only.<br><br>
        <b>2. Is your delivery service available in my area?</b><br>
        Our delivery service is open to Brgy. Poblacion, Valencia City only. Additional charges may apply according to
        distance.<br><br>

        <b>3. Is your delivery service available at all times? </b><br>
        Our delivery service is available every day from 8:00 am-3:00 pm. Checked out orders by 3PM would be delivered
        the next day.<br><br>

        <b>4. Is there a minimum purchase required for my items to be delivered?</b> <br>
        There is no minimum purchase required.<br><br>

        <b>5. Will you deliver my item if you were unable to locate my address at first attempt? </b><br>
        Yes, we will deliver the items for the second attempt. Please indicate your contact number when you check out
        your order.<br><br>

        <b>6. Will I get an email or SMS when my item is already for delivery? </b><br>
        Yes, a notification will be sent to your email and via SMS. <br><br>

        <b>7. How soon will my item arrive under delivery?</b><br>
        Orders would be delivered within 24 hours after the checkout of order. Order deliveries may be delayed depending
        on the quantity <br><br>

    </p>
    <h4>Payment, SSC Points and Discounts Questions </h4>
    <p>
        <b>1. What are the payment methods for ROY Plaza Store online? </b><br>
        Payment methods are through cash on delivery, and cash on pick-up.<br><br>

        <b>2. Can I still use my ROY SSC card to earn points? </b><br>
        As of the moment, SSC is not applicable in ROY Plaza Store Online.<br><br>

        <b>3. Can I use my ROY SSC points to pay for my groceries? </b><br>
        No, however, you can redeem special ROY Plaza Store Online merchandise items using your ROY SSC points.<br><br>

    </p>
    <h4>Customer Support Question</h4>
    <p>
        <b>1. What time is your online customer support available? </b><br>
        Online Customer Support is available from 8:00 am- 5:00 PM.<br><br>
        <b>2. Where do I contact if I have concerns regarding my orders?</b><br>
        For customer inquiry or concerns, you may contact us through royplazastore@gmail.com or
        +63 9352376703. <br><br>

    </p>

</div>
{% endblock content %}