{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 style="color:#000083">How to be a member of ROY Plaza Store Online?</h2>

    <p>
        Registering for ROY Plaza Store Online is easy! Be a member of ROY Plaza Smart Shoppers Club and register using
        your e-mail address!

        To get started, simply follow the steps below<br>
    </p>
    <h4 style="color:#000083">Step 1 </h4>
    <p>
        Be a member of the ROY Plaza Smart Shoppers Club. To register sign up at the ROY Plaza CWD area by filling up
        the important details provided in the form.<br>

    </p>
    <h4 style="color:#000083">Step 2 </h4>
    <p>
        Go to www.royplazastore.com and click on "Sign Up" in the top right corner of the page.<br>

    </p>
    <h4 style="color:#000083">Step 3 </h4>
    <p>
        Fill in the required details. Make sure that your contact details (emails or phone number) are active so that
        order updates and other communications will be sent to you.<br>

    </p>
    <h4 style="color:#000083">Step 4</h4>
    <p>
        Complete the registration by creating your ROY Plaza Store username and password<br>

    </p>
    <br>
    <h2 style="color:#000083">How to activate account</h2>
    <span class="fa-stack">
        <!-- The icon that will wrap the number -->
        <span class="far fa-circle fa-stack-2x" style="color:#000083;"></span>
        <!-- a strong element with the custom content, in this case a number -->
        <strong class="fa-stack-1x" style="color:#000083">
            1
        </strong>
    </span> Go to www.royplazastore.com <br>
    <span class="fa-stack">
        <!-- The icon that will wrap the number -->
        <span class="far fa-circle fa-stack-2x" style="color:#000083;"></span>
        <!-- a strong element with the custom content, in this case a number -->
        <strong class="fa-stack-1x" style="color:#000083">
            2
        </strong>
    </span> Log in to your username and password <br>
    <span class="fa-stack">
        <!-- The icon that will wrap the number -->
        <span class="far fa-circle fa-stack-2x" style="color:#000083;"></span>
        <!-- a strong element with the custom content, in this case a number -->
        <strong class="fa-stack-1x" style="color:#000083">
            3
        </strong>
    </span> Fill in the required details <br>
    <span class="fa-stack">
        <!-- The icon that will wrap the number -->
        <span class="far fa-circle fa-stack-2x" style="color:#000083;"></span>
        <!-- a strong element with the custom content, in this case a number -->
        <strong class="fa-stack-1x" style="color:#000083">
            4
        </strong>
    </span>Enter your SSC Card number to completely activate your account <br>


    <br>
    <a href="{% url 'account_signup' %}" class="btn btn-md"
        style="border-radius: 24px; background-color:#000083; color:white; font-size: small;">Activate your
        account here</a>
    <br>
    <br>
</div>
{% endblock content %}