{% extends "base.html" %}

{% load widget_tweaks %}


{% block content %}
<h2>PSGC Form</h2>
<form method="post" id="PSGCAddressForm" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    {% if field.name == "order" %}
    {% render_field field class="basicAutoComplete form-control" %}
    {% endif %}
    {% if field.name == "item"%}
    {% render_field field class="basicAutoComplete form-control" %}
    {% else %}
    {% render_field field class="form-control" %}
    {% endif %}
    <!--  -->
    <!--  -->
    <button type="submit">Save</button>

</form>
{% endblock %}

{% block extra_scripts %}

<script
    src="https://cdn.rawgit.com/xcash/bootstrap-autocomplete/3de7ad37/dist/latest/bootstrap-autocomplete.js"></script>
<script>
    $('.basicAutoComplete').autoComplete(
        { minLength: 1 }
    );
    $('.dropdown-menu').css({ 'top': 'auto', 'left': 'auto' })

</script>
{% endblock extra_scripts %}